header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 1000;
    
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #202020;
    padding: 0rem 8rem;

}
.logo{
    margin: 1rem 0rem;
    font-size: 32px;
    cursor: pointer;
}
.nav-container{
    display: flex;
    gap: 1rem;
}
.nav-link{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease;
    border-radius: 10px;
}
.nav-link:hover{
    background: #4d4d4d;
    border-radius: 10px;
}

.main-container{
    padding-top: 5rem;
    min-height: 143vh;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.footer-text{
    font-size: 24px;
}
.p-tag{
    margin: 0;
}

@media (max-width: 767px) {
    .main-container{
        min-height: 300vh;
    }
}
@media (min-width: 768px) {
    .main-container{
        min-height: 140vh;
    }
}